@model smartacfe.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"/>
    </div>
    <div class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
        <label asp-for="LastName"></label>
        <input asp-for="LastName"/>
    </div>
    <div class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
    </div>
    <div class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
    </div>
    <div class="form-control">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword"/>
    </div>
    <button type="submit">Register</button>
</form>
