@{
    ViewBag.Title = "API Usage";
    Layout = "_Layout";
}

<h1 class="text-center">Smart AC Usage</h1>
<h3>Registering your device</h3>
<div class="pl-5">
    <p>Before a smart ac unit can send data readings to the Smart AC system, it must register itself and get an access key.</p>
    <p>
        To register, send an HTTP POST, with the Serial Number and Firmware version.  If the device is successfully registered, the response will contain an access key that must be used when sending readings.
    </p>
    <p>Example request:
        <code style="white-space: nowrap">
            curl 'https://smartacfe2.azurewebsites.net/api/register' -X POST --data '{"SerialNumber": SERIAL_NUMBER, "FirmwareVersion": FIRMWARE_VERSION}'
        </code>
    </p>

    <p>Example response:</p>
    <code style="white-space: nowrap">
        <pre>
{
    "response": "success",
    "device": {
            "SerialNumber": SERIAL_NUMBER,
            "FirmwareVersion": FIRMWARE_VERSION,
            "RegistrationDate": "YYYY-MM-DD",
            "AccessKey": YOUR_NEW_ACCESS_KEY
    }
}
</pre>
    </code>
</div>
<h3>Recording Readings</h3>
<div class="pl-5">
    <p>After the device has been registered, it can start sending readings.</p>
    <p>To record data for the device send an HTTP POST with the data in a JSON array.</p>
    <p>Example request:
        <code style="white-space: nowrap">
            curl 'https://smartacfe2.azurewebsites.net/api/reading' -X POST -H 'x-access-key: YOUR_ACCESS_KEY' -d @@readingdata.json
        </code>
    </p>
    <p>Example request body / readingdata.json</p>
    <pre>
[
    {
        "Temperature": 22.32,
        "COLevel": 10,
        "HealthStatus": "ONLINE",
        "Humidity": 10.43,
        "ReadingDateTime": "2019-07-12T12:01:00Z"
    },
    {
        "Temperature": 25.00,
        "COLevel": 12,
        "HealthStatus": "ERROR",
        "Humidity": 10.43,
        "ReadingDateTime": "2019-07-12T12:01:01Z"
    },
        {
        "Temperature": 22.31,
        "COLevel": 10,
        "HealthStatus": "HEALTHY",
        "Humidity": 10.43,
        "ReadingDateTime": "2019-07-12T12:01:00Z"
    }
]
</pre>
    <h5>Field Definition</h5>
    <dl class="dl-horizontal pl-5">
        <dt>Temperature</dt>
        <dd>Decimal: Temperature in Celsius</dd>

        <dt>Humidity</dt>
        <dd>Decimal: Air humidity percentage.  Don't include the % character</dd>

        <dt>COlevel</dt>
        <dd>Carbon Monoxide Levels, PPM</dd>

        <dt>HealthStatus</dt>
        <dd>String, up to 150 characters, representing the status of the device</dd>

        <dt>ReadingDateTime</dt>
        <dd>ISO formatted time of the reading.</dd>
    </dl>
</div>